body,
html {
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-image: url("../images/Homebodybg_1665304992.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    /*overflow: hidden;*/
}

li {
    list-style: none;
}

.map-btm-left{
    width: 400px;
}


#main-max-app {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.top-content {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#main-content {
    flex-flow: row nowrap;
}

#main-bottom {
    justify-content: center;
}

.top-right {
    display: flex;
}

.username-class {
    margin: 0px 50px;
    padding-top: 12px;
}

.top-bgimg {
    width: 800px;
    height: 80px;
    background-image: url("../images/Hometitlebg.png");
    background-repeat: no-repeat;
}

.title-line {
    padding-left: 200px;
    padding-top: 15px;
}

.title-h1 {
    line-height: 30px;
    font-size: 2em;
}

.time-line {
    font-size: 18px;
}

#main-content {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}

.versions-div div {
    display: inline-block;
}

.versions-div {
    padding-left: 60px;
    line-height: 20px;
    margin-bottom: 10px;
}

.versions-number {
    width: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}

.flagship-number {
    background-color: red;
}

.team-number {
    background-color: darkorange;
}

.personal-number {
    background-color: yellow;
}

.map-btm-right {
    border: 1px solid rgba(133, 207, 250, 0.671);
    height: 190px;
    width: 340px;
    border-radius: 5px;
    padding: 10px;
}

.map-bottom {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.map-btm-div {
    margin-left: 50px;
}

.cnt-right {
    margin-left: 80px;
}

.cnt-right-top,
.btn-left,
.btn-right {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}

.btn-right {
    width: 420px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.btn-changeline {
    text-align: center;
    font-size: 28px;
    width: 50px;
    border: 1px solid rgb(181, 212, 252);
    height: 200px;
    cursor: pointer;
    line-height: 50px;
    border-radius: 5px;
    color: rgb(181, 212, 252);
}

.btn-right-content {
    width: 355px;
    height: 200px;
    border: 1px solid rgb(181, 212, 252);
    border-radius: 5px;
    text-align: center;
}

.el-table--scrollable-y .el-table__body-wrapper {
    overflow: hidden;
}

.cell{
    max-height: 70px !important;
    /*overflow: auto !important;*/
}

.el-table--border th.el-table__cell.gutter:last-of-type {
    border-bottom: none !important;
}

.el-table--border,
.el-table--group {
    border-top: none;
}

.el-table {
    background-color: transparent;
    /* border: rgb(40, 118, 193) 1px solid; */
    border-bottom: none;
    /* border-left: none; */
}

.el-table__header {
    /*width: 885px !important;*/
}

.has-gutter tr th {
    border: 1px solid #fff;
}

.has-gutter tr th:last-child {
    border: none;
}

.el-table__body {
    /*width: 867px !important;*/
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
    background-color: transparent !important;
}

.el-table th {
    background-color: transparent !important;
}

.el-table tr {
    background-color: transparent !important;
}

.el-table td {
    background-color: transparent !important;
}

.el-table--enable-row-transition .el-table__body td,
.el-table .cell {
    text-align: center;
    background-color: transparent;
}

.el-button {
    background-color: transparent !important;
    color: #fff;
}

.el-dialog {
    background-color: rgba(4, 39, 82, 0.87);
    color: #fff;
}

.detail-dialog-ul li {
    margin-bottom: 10px;
}

.el-input__inner {
    background-color: transparent !important;
    color: #fff;
}

.el-textarea__inner {
    background-color: transparent !important;
    color: #fff;
}

#main-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    text-align: center;
}

.el-dialog__body {
    color: #fff;
}

.el-dialog__title {
    color: #fff;
}

.list-question {
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0px;
    width: 867px;
}

.today-time {
    text-align: right;
    width: 330px;
}

.top-left{
    padding-left: 10px;
}


.inform-div {
    width: 500px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgba(151, 222, 250, 0.274);
}

.container {
    color: red;
    padding-left: 10px;
    background-color: rgba(151, 222, 250, 0.274);
    margin-top: 10px;
    text-align: left;
    height: 1.9375rem;
    line-height: 1.9375rem;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tagline {
    text-align: left;
}

.change-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1.9375rem;
    text-align: left;
    margin-top: -5px;
}


/* 执行动画所有时间以及样式 */

.changing {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    font-size: 16px;
    line-height: 16px;
    text-rendering: optimizeLegibility;
    -webkit-animation: revealNextWord 10s ease-in-out infinite;
    animation: revealNextWord 10s ease-in-out infinite;
}


/* 子类执行动画时间 */

.changing:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.changing:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.changing:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.changing:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}


/* 子类弹出动画效果 */

@-webkit-keyframes revealNextWord {
    0% {
        opacity: 0.3;
        height: 0;
    }
    10% {
        opacity: 1;
        height: 1.2em;
    }
    20% {
        opacity: 1;
        height: 1.2em;
    }
    28% {
        opacity: 0;
        height: 2em;
    }
    100% {
        opacity: 0;
    }
}

@keyframes revealNextWord {
    0% {
        opacity: 0.3;
        height: 0;
    }
    10% {
        opacity: 1;
        height: 1.2em;
    }
    20% {
        opacity: 1;
        height: 1.2em;
    }
    28% {
        opacity: 0;
        height: 2em;
    }
    100% {
        opacity: 0;
    }
}


.loading-div {
    width: 2000px;
    height: 1000px;
    background-color: black;
    display: table-cell;
    vertical-align: middle;
    color: #555;
    overflow: hidden;
    text-align: center;
}

.loading-div::before {
    display: inline-block;
    vertical-align: middle;
}

svg {
    width: 800px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

svg text {
    text-transform: uppercase;
    animation: stroke 2s infinite alternate;
    letter-spacing: 10px;
    font-size: 150px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 0.8;
    }
    50% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 1.2;
    }
    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 1.5;
    }
    90%,
    100% {
        fill: rgba(72, 138, 204, 1);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}