<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            overflow: hidden;
        }

        .chart {
            width: 800px;
            height: 500px;
        }
    </style>
</head>

<body>

<div class="chart">
</div>
<script src="@{/js/jquery-1.12.4.js}"></script>
<script src="@{/js/echarts.min.js}"></script>
<!-- 必须先引入china.js 这个文件 因为中国地图需要 -->

<script src="@{/js/china.js}"></script>

<script src="@{/js/index.js}"></script>
</body>

</html>