<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.web.model.dao.QuestionnaireMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wj.web.model.entity.Questionnaire">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="money" property="money" />
        <result column="remarks" property="remarks" />
        <result column="link" property="link" />
        <result column="create_time" property="createTime" />
        <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, money, remarks, link, create_time,del_flag
    </sql>

</mapper>
